@charset "UTF-8";

/* El Horno Dulce - Panadería y Repostería */
/* Estilos - Productos */

h1 {
	text-align: center;
    font-family: arial, sans-serif;
    font-size: 30px !important;
    color: #d15a43;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#navCont {
    margin-top: 20px;
    margin-bottom: 20px;
}

#categorias li {
    margin-left: 10px;
    margin-right: 10px;
}

#categorias li button {
    border: none;
    background-color: #ffffff;
    color: #432e2f;
    font-family: arial, sans-serif;
    font-size: 18px;
}

#categorias li button:hover {
    color: #d15a43;
    text-decoration: underline;
}

.productosCont{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px auto 20px auto;
}

.producto {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.marginVert10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nameProducto {
    font-family: arial, sand;
    font-size: 18px;
    font-weight: bold;
}

.alergenosCont {
    display: flex;
}

.precioCarrito {
    display: flex;
    font-family: arial, sand;
    font-size: 16px;
    margin-top: 20px;
}

.addCarrito {
    color: #432e2f;
}

.addCarrito:hover {
    color: #d15a43;
}

.pageCont {
    display: block;
    text-align: center;
    margin: 20px auto 20px auto;
}

.pageButtons {
    border: 1px solid #d15a43;
    background-color: #d15a43;
    padding: 10px;
    border-radius: 3px;
    color: #432e2f;
}

.pageButtons:hover {
    background-color: #e7cca6;
    color: #432e2f;
}

#pagination div span {
    color: #432e2f;
    font-family: arial, sans-serif;
    font-size: 15px;
}

/* Media Query para pantallas iguales o superiores a 1600px */
@media only screen and (min-width: 1600px) {
    .maxWidth1500 {
        max-width: 1500px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .iconWidth {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1499px) {
    .iconWidth {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1199px) {
    .iconWidth {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .iconWidth {
        flex: 0 0 23%;
        max-width: 23%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .iconWidth {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 649px) {
    .iconWidth {
        flex: 0 0 28%;
        max-width: 28%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .iconWidth {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 499px) {
    .iconWidth {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 449px) {
    .producto {
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 399px) {
    .iconWidth {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 299px) {
    .iconWidth {
        flex: 0 0 33%;
        max-width: 33%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 249px) {
    .iconWidth {
        padding-right: 2px;
        padding-left: 2px;
    }
    .precioCarrito {
        flex-direction: column;
    }
    .precioCarrito span, .addCarrito {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .producto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 779px) {
    #categorias {
        column-count: 4;
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 25px !important;
    }
    #categorias li button {
        font-size: 15px;
        font-weight: bold;
        padding: 0;
    }
}

@media only screen and (max-width: 149px) {
    h1 {
        word-break: break-all;
    }
}

@media only screen and (max-width: 575px) {
    #select {
        border: 1px solid transparent;
        padding: 15px;
        border-color: #644a4f;
        color: #432e2f;
        font-family: arial, sans-serif;
        font-size: 16px;
        width: 50%;
    }
    #categorias {
        column-count: 1;
        width: 50%;
        border: 1px solid #d15a43;
    }
    #categorias li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d15a43;
        margin: 0;
    }
    .addCarrito {
        font-size: 35px !important;
    }
}

@media only screen and (max-width: 489px) {
    #select, #categorias {
        width: 70%;
    }
}

@media only screen and (max-width: 399px) {
    #select, #categorias {
        width: 100%;
    }
}

@media only screen and (max-width: 279px) {
    #listaCategoriasProductos, #navCont {
        padding: 0;
    }
}

@media only screen and (max-width: 149px) {
    .nameProducto {
        word-break: break-all;
    }
}

@media only screen and (max-width: 129px) {
    #categorias li button, #select {
        word-break: break-all;
    }
}


#pagination-demo{
    display: inline-block;
    margin-bottom: 1.75em;
  }
  #pagination-demo li{
    display: inline-block;
  }